@model DAW.Models.Order
@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout</h2>
<a asp-controller="ShoppingCart" asp-action="Index">
    <button class="btn btn-outline-dark"><i class="bi-cart-fill me-1">Quay lại</i></button>
</a>
<form asp-action="Checkout" method="post">
    <div class="form-group">
        <label asp-for="ShippingAddress">Shipping Address</label>
        <input asp-for="ShippingAddress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Notes">Notes</label>
        <textarea asp-for="Notes" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Place Order</button>
</form>

